.header
    display: flex
    justify-content: space-evenly
    // position: fixed
    // top: 0
    // left: 0
    width: 100%
    background-color: whitesmoke
    border-bottom: 1px solid #3e3e3e
 
.header__logo 
   

.header__nav
    display: flex 
    width: 60%
    justify-content: space-evenly
     

.header__list
    @include  list         
    width: 70%
    align-items: center
    justify-content: space-evenly

.header__language
    display: flex
    align-items: center
    position: relative 
    cursor: pointer   

// .header__language__list
//     position: absolute
//     list-style: none
//     top: 70%
//     right: 0%
//     margin: 0
//     padding: 0  
//     background: white
//     box-shadow: 10px 2px 2px whitesmoke, 
//     -10px 2px 2px whitesmoke
//     opacity: 0  
//     background-color: whitesmoke
//     li
//         text-decoration: underline
//         padding-top: 25% 
//         text-align: right
   
        
    
// .vision
//     opacity: 1

// .activLang
//     color: red   

   