.language
    display: flex
    align-items: center
    justify-content: center
    width: 90px
    height: 90px
    cursor: pointer 
    background: #ffffff
    border-radius: 100%
    box-shadow: inset 0px 0px 14px -4px #616161
    z-index: 1
    div
        p 
            margin: 0
            text-align: center

.language_wrapper
    display: flex
    align-items: center
    position: fixed
    top: 0%
    right: 1%

.language__list
    position: relative
    list-style: none
    right: -49%
    margin: 0
    padding: 0  
    background: white
    box-shadow: 10px 2px 2px whitesmoke, 
    -10px 2px 2px whitesmoke
    opacity: 0  
    background-color: whitesmoke
    height: 140px
    display: flex
    flex-direction: column
    justify-content: space-between
    border-radius: 15px
    z-index: 0
    li
        text-decoration: underline
        padding-top: 5% 
        text-align: right
        cursor: pointer
   
        
    
// .vision
//     opacity: 1

.activLang
    color: red      