.main
    width: 100%
    padding: 1% 0
    display: flex
    justify-content: space-evenly

.main__aside
    width: 30%  
    border: 1px solid black   
    border-radius: 10px
    overflow: hidden   

.aside__semple_wrapper
    width: 100%
    background: #C7C7C7
    padding: 5% 3% 10%  
    clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%) 

