.modal_wrapper
    position: fixed
    top: 0
    left: 0
    bottom: 0
    right: 0
    background: rgba(199, 199, 199, .5)
    align-items: center
    justify-content: space-evenly
    display: none

.modal_item
    @include list
    position: relative
    padding: 0
    width: 75%
    height: 75%
    // border-radius: 10px

.modal_item__list_item
    position: absolute  
    width: 100%  
    height: 100%
    

       


.modal_wrapper_closer
    position: absolute
    width: 40px
    height: 40px
    border-radius: 100%
    text-align: center
    background: rgb(199,199,199)
    border: 2px solid #ffffff
    font-size: 2em
    color: #ffffff
    top: 1%
    right: 1%
    cursor: pointer

.modal_wrapper_closer:hover
    box-shadow: 0px 1px 7px 3px #616161
.modal_wrapper_closer:active
      box-shadow: inset 0px 1px 7px 3px #616161  

.modal_img
    width: 100%
    object-fit: cover

.modal_item__img_wrapper
    width: 100%
    height: 100%
    display: flex
    align-items: center
    border-radius: 10px
    opacity: 0 

.modal_item__img_wrapper::-webkit-scrollbar
    width: 0    


.modal_item__img_wrapper__imagen
    width: 100%
    height: 100%
    object-fit: contain  
        


.rigthArroy, 
.leftArroy
    width: 40px
    height: 40px
    cursor: pointer

.rigthArroy
    transform: rotate(45deg)
    border-top: 2px solid  #000000
    border-right: 2px solid  #000000
   
   
.leftArroy
    transform: rotate(45deg)
    border-bottom: 2px solid  #000000
    border-left: 2px solid  #000000
  




.open
    display: flex     

.vision
    opacity: 1